
/* Job Colors for Cards */
.combatant-card[data-job="PLD"] { border-color: rgba(133, 155, 162, 0.9); }
.combatant-card[data-job="WAR"] { border-color: rgba(204, 73, 64, 0.9); }
.combatant-card[data-job="DRK"] { border-color: rgba(154, 75, 87, 0.9); }
.combatant-card[data-job="GNB"] { border-color: rgba(146, 131, 65, 0.9); }
.combatant-card[data-job="WHM"] { border-color: rgba(193, 193, 193, 0.9); }
.combatant-card[data-job="SCH"] { border-color: rgba(98, 93, 172, 0.9); }
.combatant-card[data-job="AST"] { border-color: rgba(201, 117, 65, 0.9); }
.combatant-card[data-job="SGE"] { border-color: rgba(137, 196, 211, 0.9); }
.combatant-card[data-job="MNK"] { border-color: rgba(202, 156, 49, 0.9); }
.combatant-card[data-job="DRG"] { border-color: rgba(91, 111, 232, 0.9); }
.combatant-card[data-job="NIN"] { border-color: rgba(240, 89, 110, 0.9); }
.combatant-card[data-job="SAM"] { border-color: rgba(232, 119, 57, 0.9); }
.combatant-card[data-job="RPR"] { border-color: rgba(234, 221, 111, 0.9); }
.combatant-card[data-job="VPR"] { border-color: rgba(165, 93, 67, 0.9); }
.combatant-card[data-job="BRD"] { border-color: rgba(181, 201, 95, 0.9); }
.combatant-card[data-job="MCH"] { border-color: rgba(69, 172, 196, 0.9); }
.combatant-card[data-job="DNC"] { border-color: rgba(228, 178, 177, 0.9); }
.combatant-card[data-job="BLM"] { border-color: rgba(138, 106, 189, 0.9); }
.combatant-card[data-job="SMN"] { border-color: rgba(96, 133, 49, 0.9); }
.combatant-card[data-job="RDM"] { border-color: rgba(200, 84, 176, 0.9); }
.combatant-card[data-job="PCT"] { border-color: rgba(214, 113, 116, 0.9); }
.combatant-card[data-job="BLU"] { border-color: rgba(65, 99, 189, 0.9); }

/* Graph colors */
[data-job="PLD"] .percent-bar { background: rgba(133, 155, 162, 0.8)!important; }
[data-job="WAR"] .percent-bar { background: rgba(204, 73, 64, 0.8)!important; }
[data-job="DRK"] .percent-bar { background: rgba(154, 75, 87, 0.8)!important; }
[data-job="GNB"] .percent-bar { background: rgba(146, 131, 65, 0.8)!important; }
[data-job="WHM"] .percent-bar { background: rgba(193, 193, 193, 0.8)!important; }
[data-job="SCH"] .percent-bar { background: rgba(98, 93, 172, 0.8)!important; }
[data-job="AST"] .percent-bar { background: rgba(201, 117, 65, 0.8)!important; }
[data-job="SGE"] .percent-bar { background: rgba(137, 196, 211, 0.8)!important; }
[data-job="MNK"] .percent-bar { background: rgba(202, 156, 49, 0.8)!important; }
[data-job="DRG"] .percent-bar { background: rgba(91, 111, 232, 0.8)!important; }
[data-job="NIN"] .percent-bar { background: rgba(240, 89, 110, 0.8)!important; }
[data-job="SAM"] .percent-bar { background: rgba(232, 119, 57, 0.8)!important; }
[data-job="RPR"] .percent-bar { background: rgba(234, 221, 111, 0.8)!important; }
[data-job="VPR"] .percent-bar { background: rgba(165, 93, 67, 0.8)!important; }
[data-job="BRD"] .percent-bar { background: rgba(181, 201, 95, 0.8)!important; }
[data-job="MCH"] .percent-bar { background: rgba(69, 172, 196, 0.8)!important; }
[data-job="DNC"] .percent-bar { background: rgba(228, 178, 177, 0.8)!important; }
[data-job="BLM"] .percent-bar { background: rgba(138, 106, 189, 0.8)!important; }
[data-job="SMN"] .percent-bar { background: rgba(96, 133, 49, 0.8)!important; }
[data-job="RDM"] .percent-bar { background: rgba(200, 84, 176, 0.8)!important; }
[data-job="PCT"] .percent-bar { background: rgba(214, 113, 116, 0.8)!important; }
[data-job="BLU"] .percent-bar { background: rgba(65, 99, 189, 0.8)!important; }
[data-job="LIMIT BREAK"] .percent-bar { background: rgba(255, 215, 0, 0.8)!important; }